<!-- Modal -->
<div class="modal fade" id="pinnPostModal" tabindex="-1" aria-labelledby="pinnPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pinnPostModalLabel">Pin this Tweet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="p-2">
                This will appear at the top of your profile and replace any previously pinned Tweet
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-extra-light" data-bs-dismiss="modal">Cancel</button>
          <form action="/posts/pinn?_method=PATCH" method="post">
                <input type="hidden" name="postId" id="pinnPostIdInput">
                <input type="hidden" name="pinned" value="true">
              <button type="submit" class="btn btn-primary text-white">Pin</button>
          </form>
        </div>
      </div>
    </div>
  </div>