<form action="/search" method="get" id="searchForm">
    <div class="search-box">
        <div class="icon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input type="search" name="q" id="q" placeholder="Search Crowdly!" value="<%=locals.query%>">
    </div>
</form>