<div class="comment-box d-flex">
    <div class="img-wrapper d-flex  align-items-center">
        <img src="/assets/avatar.png" class="img-rounded align-middle" width="70" height="70" alt="profile pic">
    </div>
    <div class="ms-2">
        <b class="text-dark-grey ">User Name</b>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, necessitatibus.</p>
    </div>
</div>