<div class=" vh-100 error-page">
    <div class="error-img-wrapper">
        <img src="/assets/<%=path%>.svg" alt="Error Page" class="">
    </div>
    <div class="text-center my-1">
        <a href="/user/sign-in" class="btn btn-primary btn-lg text-light rounded-pill px-5">
            Go Back  <i class="fa fa-home"></i>
        </a>
    </div>
</div>