<div class="mt-2">
    <%-include('./components/_search') %> 
    <div class="explore-img-wrapper">
        <img src="/assets/explore-page.svg" alt="explore crowdly" class="explore-img">
    </div>
</div>

<%-include('./layout/_sidebar') %> 