<div class="p-5 mb-4 bg-extra-light rounded-3 animate__animated animate__shakeX ">
    <div class="container-fluid py-5">
        <h1 class="display-5 text-success fw-bold">Verification Email Sent! <i class="fa fa-check-square-o"
                aria-hidden="true"></i></h1>
        <p class="col-md-8 fs-5 mb-4">Hi! Verification Link has been sent to your email,Check your inbox! We will see
            you on crowdly Platform!</p>
    </div>
</div>