</div>
<div class="modal-footer" data-is-show="<%=locals.showModal%>">
  <small class="text-muted">Tip: * field is required filed | Username should not contain any spaces!</small>
</div>
</div>
</div>
</div>

