
    <div class="row" style="min-height:100vh;">
        <div class="col-md-5 col-hide h-100" style="max-width:100%;overflow:hidden;">
            <div class=" h-100">
              <%-include('./_authSvg')%> 

            </div>
          </div>
          <div class="col-md-7  py-5 text-center h-100 d-flex flex-column align-items-center justify-content-center animate__animated animate__slideInDown ">
            <img src="/assets/crowdly-logo.svg" width="100" height="100" alt="">


                
            

